{% load static i18n %}

{% if reviews %}
  <div class="shadow-md rounded-xl bg-white p-4 space-y-4">
    {% for review in reviews %}
      <div class="border-b border-gray-200 pb-4 last:border-b-0">
        <div class="flex items-center justify-between">
          <h4 class="text-sm font-semibold text-gray-800">{{ review.first_name }} {{ review.last_name }}</h4>
          <span class="text-xs text-gray-500">{{ review.created_at|date:"d.m.Y" }}</span>
        </div>
        <div class="mt-1 text-sm text-yellow-400 flex">
          {% for foo in "12345" %}
            <svg
                class="w-4 h-4 {% if forloop.counter <= review.rating %}text-yellow-300{% else %}text-gray-300{% endif %} ms-1"
                aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="currentColor" viewBox="0 0 22 20">
              <path
                  d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
            </svg>
          {% endfor %}

        </div>
        <p class="mt-2 text-sm text-gray-700 leading-relaxed">{{ review.comment }}</p>
      </div>
    {% endfor %}
{% else %}
    <h3 class="text-lg text-center font-semibold">{% trans "Відгуків поки що немає" %}</h3>
  </div>
{% endif %}
