{% load static i18n %}

<section class="mt-5 text-slate-600 text-center md:text-left space-y-5">
  <div>
    <h1 class="text-2xl sm:text-3xl font-medium mb-2">{{ product.name }}</h1>
    {% if product.discount %}
      <div class="flex items-center justify-center md:justify-start gap-2">
              <span class="line-through text-gray-500 text-base">
                {{ variation.get_price }} грн.
              </span>
        <span class="bg-red-500 text-white text-xs font-semibold px-2 py-1 rounded-full">
                -{{ product.discount|floatformat }}%
              </span>
      </div>
    {% endif %}
    <div class="text-2xl font-bold text-teal-500 text-shadow-cyan-200">
      {{ variation.get_price_with_discount }} грн.
    </div>
  </div>

  <div class="space-y-2">
    <p class="font-medium">
      {% trans 'Виробник' %}:
      <a href="#" class="text-teal-500 hover:text-slate-600 transition-colors">{{ product.brand }}</a>
    </p>
    <p class="font-medium">
      {% trans 'Артикул' %}:
      <span>{{ variation.article }}</span>
    </p>
  </div>

  <div class="">
    {#        <button hx-get="{% url 'product:load_data'  %}" hx-target="#result" hx-swap="innerHTML">#}
    {#          Загрузить вариацию#}
    {#        </button>#}

    <div class="" id="result"></div>
  </div>

  {% if has_attribute %}
    <div class="space-y-4">
      {% regroup product.variations.all by attribute_value.attribute.name as grouped_variations %}

      {% for group in grouped_variations %}
        <h4 class="text-base sm:text-lg font-medium mb-2">{{ group.grouper }}</h4>
        <ul class="flex flex-wrap gap-2 justify-center md:justify-start">
          {% for variation_item in group.list %}
            {#                <a href="?variation_article={{ variation.article }}"#}
            {#                   class="variation-link inline-block border rounded-lg px-3 py-1 text-sm sm:text-lg font-medium transition-colors#}
            {#                     {% if variation_article == variation.article %}text-white bg-gray-800 border-gray-800 hover:border-gray-800{% else %}border-gray-300 bg-white{% endif %}">#}
            {#                  {{ variation.attribute_value.value }}#}
            {#                </a>#}
            <button
                class="variation-link inline-block border rounded-lg px-3 py-1 text-sm sm:text-lg font-medium transition-colors"
                hx-get="{% url 'product:load_data' variation_item.article %}" hx-target="#result" hx-swap="innerHTML">
              {{ variation.attribute_value.value }}
            </button>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  {% endif %}

  <div>
    <div class="flex items-center gap-x-4 justify-center md:justify-start">
      <button type="button"
              class="minus w-10 h-10 font-medium flex items-center justify-center rounded-full bg-gray-200 text-xl hover:bg-gray-300 cursor-pointer">
        −
      </button>

      <input type="text" readonly
             class="product__quantity w-14 text-center border border-gray-300 rounded-lg text-lg font-medium focus:outline-none"
             value="1"/>

      <button type="button"
              class="plus w-10 h-10 font-medium flex items-center justify-center rounded-full bg-gray-200 text-xl hover:bg-gray-300 cursor-pointer">
        +
      </button>
    </div>

    <div class="mt-5">
      <a href="{% url 'cart:cart_add' %}"
         class="add-to-cart drawer-trigger inline-flex px-4 py-3 bg-teal-600 text-white hover:bg-teal-700 hover:shadow-2xl font-medium transition sm:text-lg rounded-md"
         data-variation-id="{{ variation.id }}">
        {% csrf_token %}
        {% trans 'Додати до кошику' %}
      </a>
    </div>
  </div>

  <div>
    <h5 class="text-slate-600 text-xl sm:text-2xl mb-3">{% trans 'Характеристики' %}</h5>
    {% for characteristic in variation.characteristics.all %}

      <div class="border-b border-slate-300 flex justify-between py-2 text-slate-500">
        <span class="font-medium text-slate-500">{{ characteristic.name }}</span>
        <span>{{ characteristic.value }}</span>
      </div>
    {% endfor %}
  </div>

  <div>
    <p class="text-slate-500">{{ product.description }}</p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab commodi dignissimos dolorem exercitationem illo!
    Aliquam aspernatur beatae, culpa cupiditate dolore enim eveniet facere facilis, iusto, libero mollitia natus
    neque placeat quia rem reprehenderit sapiente sequi tempora ullam vitae. Animi dolore id in itaque, laboriosam
    laborum porro quasi qui suscipit voluptatem?
  </div>
</section>