# Python / Django
venv/
.venv/
__pycache__/
db.sqlite3
media/
cache/
staticfiles/

# Node.js
node_modules/
package-lock.json

# Tailwind output
# static/css/output.css

# Editors / IDEs
.vscode/
.idea/

# Logs / Temp
*.log
*.tmp
