.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1035;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.drawer.show {
  transform: none;
}

.drawer-end {
  right: 0;
}

.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
}

.offcanvas-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.btn-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
}

.offcanvas-body {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
}

.drawer-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.drawer-backdrop.show {
  display: block;
}

.accordion {
  background: none;
  color: #111827;
  cursor: pointer;
  padding: 16px 0;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s;
}

.accordion:hover {
  color: #2563eb; /* синий при наведении */
}

.accordion.active {
  color: #2563eb; /* синий при открытии */
  border-color: transparent;
}

.icon {
  transition: transform 0.3s;
  font-size: 14px;
}

.accordion.active .icon {
  transform: rotate(90deg);
}

.panel {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease;
  background-color: white;
  padding-left: 0;
  border-bottom: 1px solid #e5e7eb;
}

.panel-content {
  padding: 10px 5px;
  padding-top: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: #4b5563;
  font-size: 16px;
}

.panel.show .panel-content {
  opacity: 1;
  transform: translateY(0);
}