{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {% trans "Категорії" %}
{% endblock %}

{% block content %}
  <h1 class="text-4xl font-medium tracking-tight text-slate-600 border-b border-gray-300 pb-3 mb-5">{% trans "Категорії" %}</h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    {% for category in categories %}
      <div
          class="border border-teal-600 rounded-xl p-4 group cursor-pointer overflow-hidden shadow-sm hover:shadow-xl transition-shadow duration-300">
        {% if category.image %}
          <a href="{% url 'product:category_detail' category.slug %}" class="block overflow-hidden rounded-lg"><img
              src="{{ category.image.url }}" alt="{{ category.name }}"
              class="w-full object-cover mb-5 transform transition-transform duration-300 group-hover:scale-110"/></a>
        {% endif %}
        <a href="{% url 'product:category_detail' category.slug %}"
           class="block bg-white border border-teal-700 rounded-md p-3 text-center font-medium text-gray-800 transition-colors duration-200 hover:bg-teal-700 hover:text-white">{{ category.name }}</a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
