{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="mt-25">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-15 mt-10">
      <!-- Sticky блок -->
      <div class="">
        <div class="sticky top-10">
          <div class="relative flex">
            <div id="custom-prev" class="self-center cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#000000">
                <path d="M560.67-240 320-480.67l240.67-240.66L608-674 414.67-480.67 608-287.33 560.67-240Z" />
              </svg>
            </div>
            <!-- Слайдер -->
            <div class="swiper mySwiper rounded-xl shadow-lg">
              <div class="swiper-wrapper">
                {% for product_variation in product.variations.all %}
                  <div class="swiper-slide">
                    <img src="{{ product_variation.image.url }}" alt="{{ product_variation.product.name }}" class="object-cover rounded-xl" />
                  </div>
                {% endfor %}
              </div>
            </div>

            <div id="custom-next" class="self-center cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#000000">
                <path d="M521.33-480.67 328-674l47.33-47.33L616-480.67 375.33-240 328-287.33l193.33-193.34Z" />
              </svg>
            </div>
          </div>
        </div>
      </div>

      <!-- Контент -->
      <div class="mt-5 text-slate-600">
        <h1 class="text-4xl font-semibold mb-2">{{ product.name }}</h1>
        <p class="mt-4 text-2xl font-semibold text-teal-500">
          <span id="price">{{ product.variations.first.price }}</span> грн
        </p>

        <div class="mt-5 mb-3">
          <p class="font-semibold">
            Виробник:
            <a href="#" class="text-teal-500 hover:text-slate-600 transition-colors">{{ product.brand }}</a>
          </p>
          <p class="font-semibold">Артикул: {{ product.variations.first.article }}</p>
        </div>

        {% if has_attribute %}
          <div class="">
            {% regroup product.variations.all by attribute_value.attribute.name as grouped_variations %}

            {% for group in grouped_variations %}
              <h4 class="text-lg font-medium mb-2">{{ group.grouper }}</h4>
              <ul class="flex flex-wrap gap-2">
                {% for variation in group.list %}
                  <label class="cursor-pointer">
                    <input type="radio" name="color" class="hidden peer" value="{{ variation.id }}" data-price="{{ variation.price }}" />
                    <span class="color-button inline-block border border-gray-300 bg-white rounded-lg px-3 py-1 text-lg font-semibold transition-colors peer-checked:bg-black peer-checked:text-white peer-checked:border-gray-800 hover:border-gray-800" data-variation-id="{{ variation.id }}" data-price="{{ variation.price }}">{{ variation.attribute_value.value }}</span>
                  </label>
                {% endfor %}
              </ul>
            {% endfor %}
          </div>
        {% endif %}

        {% if has_color %}
          <p class="font-semibold text-lg mt-5 text-slate-600">Колір</p>
          <div class="mt-3 flex flex-wrap gap-2" id="color-options">
            {% for variation in product.variations.all %}
              <label class="cursor-pointer">
                <input type="radio" name="color" class="hidden peer" value="{{ variation.id }}" data-price="{{ variation.price }}" />
                <span class="color-button inline-block border border-gray-300 bg-white rounded-lg px-3 py-2 text-lg font-semibold transition-colors peer-checked:bg-black peer-checked:text-white peer-checked:border-gray-800 hover:border-gray-800" data-variation-id="{{ variation.id }}" data-slide-index="{{ forloop.counter0 }}" data-price="{{ variation.price }}">{{ variation.color }}</span>
              </label>
            {% endfor %}
          </div>
        {% endif %}

        <div class="my-5">
          <div class="flex items-center gap-x-4">
            <button type="button" class="minus w-10 h-10 font-bold flex items-center justify-center rounded-full bg-gray-200 text-xl hover:bg-gray-300 cursor-pointer">−</button>

            <input type="text" readonly class="product__quantity w-14 text-center border border-gray-300 rounded-lg text-lg font-semibold focus:outline-none" value="1" />

            <button type="button" class="plus w-10 h-10 font-bold flex items-center justify-center rounded-full bg-gray-200 text-xl hover:bg-gray-300 cursor-pointer">+</button>
          </div>
        </div>

        <div class="mt-5">
          <a href="{% url 'cart:cart_add' %}" class="add-to-cart drawer-trigger inline-flex px-4 py-3 bg-gray-300 shadow-sm hover:shadow-xl text-white font-semibold transition text-lg rounded-md cursor-not-allowed pointer-events-none" data-product-id="{{ product.id }}">{% csrf_token %}Добавить в корзину</a>
        </div>

        <div class="mt-7">
          <h5 class="text-slate-600 text-2xl mb-3">Характеристики</h5>

          {% for attribute in product.attributes.all %}
            <div class="border-b border-slate-300 flex justify-between py-2 text-slate-500">
              <span class="font-semibold text-slate-500">{{ attribute.name }}</span>
              <span>{{ attribute.value }}</span>
            </div>
          {% endfor %}
        </div>

        <div class="mt-5">
          <p class="text-slate-500">{{ product.description }}</p>
        </div>
      </div>
    </div>

    <div class="mt-10">
      <h4 class="text-3xl text-slate-500 font-semibold">Схожі товари</h4>
    </div>
  </section>
{% endblock %}

{% block js %}
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const radios = document.querySelectorAll('input[name="color"]')
      const addToCartButton = document.querySelector('.add-to-cart')
      const priceSpan = document.getElementById('price')
    
      // Инициализация слайдера
      const swiper = new Swiper('.mySwiper', {
        loop: true,
        spaceBetween: 10,
        slidesPerView: 1,
        speed: 500
      })
    
      // Стрелки слайдера
      document.getElementById('custom-next')?.addEventListener('click', function () {
        swiper.slideNext()
      })
    
      document.getElementById('custom-prev')?.addEventListener('click', function () {
        swiper.slidePrev()
      })
    
      // Если радиокнопок нет — сразу активировать кнопку
      if (radios.length === 0) {
        addToCartButton.classList.remove('bg-gray-300', 'text-white', 'cursor-not-allowed', 'pointer-events-none')
        addToCartButton.classList.add('bg-teal-600', 'text-white', 'hover:bg-teal-700', 'hover:text-white', 'hover:shadow-3xl')
      }
    
      // Обработчик изменения цвета
      radios.forEach((radio) => {
        radio.addEventListener('change', function () {
          const variationId = this.value
          const price = this.dataset.price
          const slideIndex = this.nextElementSibling.getAttribute('data-slide-index')
    
          priceSpan.textContent = price
          addToCartButton.setAttribute('data-variation-id', variationId)
    
          addToCartButton.classList.remove('bg-gray-300', 'text-white', 'cursor-not-allowed', 'pointer-events-none')
          addToCartButton.classList.add('bg-teal-600', 'text-white', 'hover:bg-teal-700', 'hover:text-white', 'hover:shadow-3xl')
    
          swiper.slideTo(slideIndex, 500)
        })
      })
    })
  </script>
{% endblock %}
