{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
    <!-- Categories -->
    <section class="mb-8">
      <h2 class="text-3xl font-semibold text-slate-600 text-center mb-6 border-b border-b-gray-200 pb-4">
        {% trans "Популярні категорії" %}
      </h2>
      <div class="hidden md:grid grid-cols-2 sm:grid-cols-4 gap-4">
        {% for category in categories %}
          {% include "includes/category_card.html" with category=category %}
        {% endfor %}
      </div>

      <div class="md:hidden">
        <div class="swiper w-full max-w-5xl mx-auto">

          <div class="swiper-wrapper">
            {% for category in categories %}
              <div class="swiper-slide flex flex-col items-center p-2">
                {% include "includes/category_card.html" with category=category %}
              </div>
            {% endfor %}
          </div>

          <div class="swiper-pagination mt-4"></div>
          <div class="swiper-button-prev relative after:hidden">
            <img src="{% static 'images/left.svg' %}" alt="prev" class="w-9 h-9">
          </div>

          <div class="swiper-button-next relative after:hidden">
            <img src="{% static 'images/right.svg' %}" alt="next" class="w-9 h-9">
          </div>
        </div>
      </div>
    </section>

    <!-- Popular Products -->
    <section>
      <h2 class="text-3xl font-semibold text-slate-600 text-center mb-6 border-b border-b-gray-200 pb-4">
        {% trans "Хіти продажів" %}
      </h2>
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-2">

        {% for product in popular_products %}
          <div
              class="p-3 sm:p-4 bg-white rounded-2xl hover:shadow-[0_0_15px_rgba(0,0,0,0.4)] group transition-all relative">

            {% if product.variations.first.image %}
              <a href="{{ product.get_absolute_url }}"
                 class="block overflow-hidden rounded-xl bg-gray-100">
                <img src="{{ product.variations.first.image.url }}" alt="{{ product.name }}"
                     class="w-full h-full object-cover object-center transition-transform duration-300 group-hover:scale-105"/>
              </a>
            {% endif %}

            <div class="text-center mt-3 sm:mt-4 px-2">
              <a href="{{ product.get_absolute_url }}">
                <h2 class="text-base sm:text-lg font-semibold text-slate-700 group-hover:text-teal-500 transition-colors">
                  {{ product.name }}
                </h2>
              </a>

              <div class="mt-1">
                {% if product.discount %}
                  <span class="line-through text-gray-500 text-sm">
                {{ product.display_price }}
              </span>
                {% endif %}
                <p class="text-base font-semibold text-slate-700">{{ product.display_price_with_discount }}</p>
              </div>

              {% if product.variations.count > 1 %}
                <div class="mt-2">
                  <div class="group-hover:flex hidden justify-center gap-2 flex-wrap">
                    {% for variation in product.variations.all|dictsort:"price" %}
                      <span class="px-2 py-1 bg-black text-white font-medium rounded-2xl text-xs sm:text-sm">
                        {{ variation.attribute_value.value }}
                      </span>
                    {% endfor %}
                  </div>
                  <div class="group-hover:hidden flex justify-center">
                    <span class="px-2 py-1 bg-teal-600 text-white font-medium text-xs sm:text-sm rounded-2xl">
                      Варіацій: {{ product.variations.count }}
                    </span>
                  </div>
                </div>
              {% endif %}

              <hr class="mt-4 text-gray-300 group-hover:opacity-0 transition-opacity duration-200"/>
            </div>

            {% if product.discount %}
              <span class="bg-red-500 text-white text-xs font-semibold px-2 py-1 rounded-full absolute top-2 left-2">
            -{{ product.discount|floatformat }}%
          </span>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </section>
{% endblock %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <script>
      const swiper = new Swiper('.swiper', {
          direction: 'horizontal',
          loop: true,

          slidesPerView: 2,
          slidesPerGroup: 1,

          navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
          },

          // And if we need scrollbar
          scrollbar: {
              el: '.swiper-scrollbar',
          },
      });
  </script>
{% endblock %}