{% extends 'base.html' %}
{% load static i18n %}

{% block title %}
  {% trans 'Замовлення' %} №{{ order.id }}
{% endblock %}

{% block content %}
  <div class="max-w-4xl mx-auto px-6 py-10">
    <h1 class="text-3xl font-medium text-teal-700 text-center mb-8">{% trans 'Деталі замовлення' %} №{{ order.id }}</h1>

    <div class="bg-white rounded-2xl shadow-md border border-gray-200 divide-y divide-gray-100">
      <div class="p-6 flex flex-col sm:flex-row justify-between gap-4">
        <div>
          <h2 class="text-lg font-medium text-gray-900">{% trans 'Оформлено' %}:</h2>
          <p class="text-gray-600">{{ order.created_at|date:'d.m.Y H:i' }}</p>
        </div>
        <div>
          <h2 class="text-lg font-medium text-gray-900">{% trans 'Статус' %}:</h2>
          <span class="inline-block mt-1 px-3 py-1 rounded-full text-sm font-medium
          {% if order.status == 'PR' %}
              bg-yellow-100 text-yellow-800
            {% elif order.status == 'RC' %}
              bg-green-100 text-green-700
            {% elif order.status == 'CL' %}
              bg-red-100 text-red-700
            {% endif %}">
            {{ order.get_status_display }}
          </span>
        </div>
      </div>

      <div class="p-6 grid sm:grid-cols-2 gap-6">
        <div>
          <h3 class="text-teal-700 font-medium mb-1">{% trans 'Інформація про клієнта' %}</h3>
          <p>
            <strong>{% trans "Ім'я" %}:</strong> {{ order.first_name }}
          </p>
          <p>
            <strong>{% trans 'Фамілія' %}:</strong> {{ order.last_name }}
          </p>
          <p>
            <strong>Телефон:</strong> {{ order.phone_number }}
          </p>
          <p>
            <strong>Email:</strong> {{ order.email|default_if_none:'Не вказано' }}
          </p>
        </div>
        <div>
          <h3 class="text-teal-700 font-medium mb-1">Доставка</h3>

          {% if order.delivery_method == "NP_WH" %}
            <p><strong>{% trans "Місто доставки" %}:</strong> {{ order.np_country }}</p>
            <p><strong>{% trans "Відділення Нової пошти" %}:</strong> {{ order.np_warehouse }}</p>

          {% elif order.delivery_method == "NP_TR" %}
            <p><strong>{% trans "Місто доставки" %}:</strong> {{ order.np_country }}</p>
            <p><strong>{% trans "Поштомат Нової пошти" %}:</strong> {{ order.np_terminal }}</p>

          {% elif order.delivery_method == "UKR_WH" %}
            <p><strong>{% trans "Адреса доставки" %}:</strong> {{ order.ukr_address }}</p>
            <p><strong>{% trans "Поштовий індекс" %}:</strong> {{ order.ukr_post_code }}</p>

          {% else %}
            <p><strong>{% trans "Місто доставки" %}:</strong> {{ order.meest_country }}</p>
            <p><strong>{% trans "Відділення Meest" %}:</strong> {{ order.meest_warehouse }}</p>
          {% endif %}

          {% if order.comment %}
            <p class="mt-2 text-sm text-gray-500">
              <strong>{% trans 'Коментар' %}:</strong> {{ order.comment }}
            </p>
          {% endif %}
        </div>
      </div>

      <!-- Товары -->
      <div class="p-6">
        <h3 class="text-teal-700 font-medium">{% trans 'Товари в замовленні' %}</h3>
        <div class="">
          {% for item in order.items.all %}
            <div class="flex border-b border-gray-400 py-3 gap-2">
              {% if item.product_variation.image %}
                <img src="{{ item.product_variation.image.url }}" alt="{{ item.product_variation.product.name }}"
                     class="w-24 h-24 object-cover rounded-md"/>
              {% endif %}

              <div class="flex-1 relative">
                <a href="{{ item.product_variation.product.get_absolute_url }}"><h2
                    class="inline-block font-medium text-lg hover:text-teal-500 transition-colors mb-1">{{ item.product_variation.product.name }}</h2>
                </a>
                <p class="font-medium mb-1">{{ item.products_sum }} грн.</p>

                {% if item.product_variation.attribute_value %}
                  <div class="flex gap-2 text-sm font-medium">
                    <span class="text-gray-400">{{ item.product_variation.attribute_value.attribute }}</span>
                    <span>{{ item.product_variation.attribute_value.value }}</span>
                  </div>
                {% endif %}

                <div class="flex gap-2 text-sm font-medium">
                  <span class="text-gray-400">{% trans 'Кількість' %}:</span>
                  <span>{{ item.quantity }}</span>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
