{% load static %}
{% load carts_tags %}
<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
  </head>
  <body>
    {% user_carts request as carts %}
    
    <nav class="bg-gray-900 shadow-xl">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16 items-center">
          <!-- Левая часть: кнопка меню на мобильных -->
          <div class="flex items-center sm:hidden">
            <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
              <span class="sr-only">Открыть меню</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>

          <!-- Центр: ссылки -->
          <div class="flex-1 flex items-center justify-center sm:justify-start">
            <div class="hidden sm:flex sm:space-x-6">
              <a href="{% url 'product:catalog' %}"
                class="text-sm font-semibold px-4 py-2 rounded-md transition-all 
                {% if 'catalog' in request.path %}
                  bg-gray-700 text-white
                {% else %}
                  text-gray-300 hover:text-white hover:bg-gray-700
                {% endif %}">
                Каталог
              </a>

              {% if user.is_staff %}
                <a href="{% url 'admin:index' %}" class="text-sm font-semibold text-gray-300 hover:text-white hover:bg-gray-700 px-4 py-2 rounded-md transition">Админ</a>
              {% endif %}
            </div>
          </div>

          <!-- Правая часть: иконка корзины -->
          {% if not order %}
            <div class="flex items-center gap-2">
              <a href="{% url "user:account" %}" class="cursor-pointer hover:bg-gray-700 rounded-full p-2 transition">
                <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#FFFFFF"><path d="M226-262q59-39.67 121-60.83Q409-344 480-344t133.33 21.17q62.34 21.16 121.34 60.83 41-49.67 59.83-103.67T813.33-480q0-141-96.16-237.17Q621-813.33 480-813.33t-237.17 96.16Q146.67-621 146.67-480q0 60.33 19.16 114.33Q185-311.67 226-262Zm253.88-184.67q-58.21 0-98.05-39.95Q342-526.58 342-584.79t39.96-98.04q39.95-39.84 98.16-39.84 58.21 0 98.05 39.96Q618-642.75 618-584.54t-39.96 98.04q-39.95 39.83-98.16 39.83ZM479.73-80q-83.1 0-156.18-31.5-73.09-31.5-127.15-85.83-54.07-54.34-85.23-127.23Q80-397.45 80-480.33q0-82.88 31.5-155.78Q143-709 197.33-763q54.34-54 127.23-85.5T480.33-880q82.88 0 155.78 31.5Q709-817 763-763t85.5 127Q880-563 880-480.18q0 82.83-31.5 155.67Q817-251.67 763-197.33 709-143 635.91-111.5 562.83-80 479.73-80Z"/></svg>
              </a>

              <div class="flex">
                <button class="drawer-trigger cursor-pointer hover:bg-gray-700 rounded-full p-2 transition">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="#FFFFFF">
                    <path d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM208-800h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Z" />
                  </svg>
                </button>
                <span id="products-in-cart-count" class="w-6 h-6 flex items-center justify-center rounded-full bg-white text-black text-xs font-bold">{{ carts.total_quantity }}</span>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </nav>

    {% if not order %}
      <aside class="drawer drawer-end" id="drawer" tabindex="-1">
        <div class="offcanvas-header">
          <h5 class="font-bold text-2xl">Кошик</h5>
          <button type="button" class="btn-close hover:bg-gray-300 rounded-full p-4:" id="drawer-close" aria-label="Close">x</button>
        </div>
        <div class="offcanvas-body">
          <div id="cart-items-container">
            {% comment %}Разметка корзины{% endcomment %}
            {% include 'cart/includes/included_cart.html' %}
            {% comment %}Закончилась разметка корзины{% endcomment %}
          </div>
        </div>
      </aside>
      <div class="drawer-backdrop" id="drawer-backdrop"></div>
    {% endif %}

    {% include "includes/notifications.html"%}

    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-20">
      {% block content %}

      {% endblock %}
    </main>
  </body>

  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="{% static 'js/ajax.js' %}"></script>
  <script src="{% static 'js/drawer-cart.js' %}"></script>

  <script src="{% static 'js/toats.js' %}"></script>
  <script src="{% static 'js/accordions.js' %}"></script>
  <script src="{% static 'js/dropdowns.js' %}"></script>

  {% block js %}

  {% endblock %}
</html>
