{% load static i18n carts_tags  queries %}

<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <!-- Swiper CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="{% static 'css/output.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/base.css' %}"/>

  <title>
    {% block title %}

    {% endblock %}
  </title>
</head>
<body class="min-h-screen flex flex-col">
{% user_carts request as carts %}

{% include 'includes/navbar.html' %}

{% include 'includes/notifications.html' %}

<main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-20 flex-1 w-full">
  {% block content %}

  {% endblock %}
</main>

{% show_footer %}

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="{% static 'js/ajax.js' %}"></script>
<script src="{% static 'js/toats.js' %}"></script>

{# Flowbite #}
<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

<script src="https://unpkg.com/imask"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const input = document.querySelector("#id_phone_number");
        if (input) {
            IMask(input, {mask: '+{380} 00 000 00 00'});
        }
    });
</script>

<script>
    let timer = null;

    $('#search-input').on('input', function () {
        const query = $(this).val();

        clearTimeout(timer);

        timer = setTimeout(function () {
            if (query.length < 2) {
                $('#results').empty();
                return;
            }

            $.ajax({
                url: "{% url 'product:search_data' %}",
                method: 'GET',
                data: {q: query},
                success: function (data) {
                    $('#results').html(data.html);
                },
                error: function (xhr, status, error) {
                    console.error('Помилка:', error);
                }
            });
        }, 300);
    });
</script>

{% block js %}

{% endblock %}
</body>
</html>
