{% load static %}
{% load carts_tags %}
<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
  </head>
  <body>
    {% user_carts request as carts %}

    <nav class="bg-gray-900 shadow-xl">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16 items-center">
          <!-- Левая часть: кнопка меню на мобильных -->
          <div class="flex items-center sm:hidden">
            <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
              <span class="sr-only">Открыть меню</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
          </div>

          <!-- Центр: ссылки -->
          <div class="flex-1 flex items-center justify-center sm:justify-start">
            <div class="hidden sm:flex sm:space-x-6">
              <a href="{% url 'product:catalog' %}"
                class="text-sm font-semibold px-4 py-2 rounded-md transition-all 
                {% if 'catalog' in request.path %}
                  
                  
                  bg-gray-700 text-white


                {% else %}
                  
                  
                  text-gray-300 hover:text-white hover:bg-gray-700


                {% endif %}">
                Каталог
              </a>

              <a href="{% url 'order:orders' %}"
                class="text-sm font-semibold px-4 py-2 rounded-md transition-all 
                {% if 'orders' in request.path %}
                  
                  
                  bg-gray-700 text-white


                {% else %}
                  
                  
                  text-gray-300 hover:text-white hover:bg-gray-700


                {% endif %}">
                Замовлення
              </a>

              {% if user.is_staff %}
                <a href="{% url 'admin:index' %}" class="text-sm font-semibold text-gray-300 hover:text-white hover:bg-gray-700 px-4 py-2 rounded-md transition">Админ</a>
              {% endif %}
            </div>
          </div>

          <!-- Правая часть: иконка корзины -->
          {% if not order %}
            <div class="flex">
              <button class="drawer-trigger cursor-pointer hover:bg-gray-700 rounded-full p-2 transition">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="#FFFFFF">
                  <path d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM208-800h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Z" />
                </svg>
              </button>
              <span id="products-in-cart-count" class="w-6 h-6 flex items-center justify-center rounded-full bg-white text-black text-xs font-bold">{{ carts.total_quantity }}</span>
            </div>
          {% endif %}
        </div>
      </div>
    </nav>

    {% if not order %}
      <aside class="drawer drawer-end" id="drawer" tabindex="-1">
        <div class="offcanvas-header">
          <h5 class="font-bold text-2xl">Кошик</h5>
          <button type="button" class="btn-close hover:bg-gray-300 rounded-full p-4:" id="drawer-close" aria-label="Close">x</button>
        </div>
        <div class="offcanvas-body">
          <div id="cart-items-container">
            {% comment %}Разметка корзины{% endcomment %}
            {% include 'cart/includes/included_cart.html' %}
            {% comment %}Закончилась разметка корзины{% endcomment %}
          </div>
        </div>
      </aside>
      <div class="drawer-backdrop" id="drawer-backdrop"></div>
    {% endif %}

    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-20">
      {% block content %}

      {% endblock %}
    </main>
  </body>

  <!-- Подключение jQuery (CDN) -->
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="{% static 'js/ajax.js' %}"></script>
  <script src="{% static 'js/drawer-cart.js' %}"></script>

  <script src="{% static 'js/toats.js' %}"></script>
  <script src="{% static 'js/accordions.js' %}"></script>
  <script src="{% static 'js/dropdowns.js' %}"></script>

  {% block js %}

  {% endblock %}
</html>
